<?xml version="1.0" encoding="WINDOWS-1252"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <description>Empty web.xml file for Web Application</description>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>seguridad</filter-name>
    <filter-class> 
    neology.vc.actions.seguridad.permisos.PermisosFiltro
  </filter-class>
    <init-param>
      <param-name>logout</param-name>
      <param-value>/login.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>seguridad</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Log4jInit</servlet-name>
    <servlet-class>neology.servlets.log.Log4jInit</servlet-class>
    <init-param>
      <param-name>log4j-init-file</param-name>
      <param-value>/WEB-INF/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InicioServlet</servlet-name>
    <servlet-class>neology.servlets.InicioServlet</servlet-class>
    <init-param>
      <param-name>usePdfCache</param-name>
      <param-value>FALSE</param-value>
    </init-param>
    <init-param>
      <param-name>reporteTituloConChip</param-name>
      <param-value>WEB-INF/reportes/formatos/titulo.jrxml</param-value>
    </init-param>
    <init-param>
      <param-name>reporteConstanciaREPUVE</param-name>
      <param-value>WEB-INF/reportes/formatos/constanciaIns.jasper</param-value>
    </init-param>
    <init-param>
      <param-name>reporteDetalleConstanciaREPUVE</param-name>
      <param-value>WEB-INF/reportes/formatos/detalleFormatos.jasper</param-value>
    </init-param>
    <init-param>
      <param-name>pdfPath</param-name>
      <param-value>/WEB-INF/reportes/</param-value>
    </init-param>
    <init-param>
      <param-name>pdfDir</param-name>
      <param-value>/WEB-INF/pdf</param-value>
    </init-param>
    <init-param>
      <param-name>reporteDetalleConstanciaFoliosREPUVE</param-name>
      <param-value>WEB-INF/reportes/formatos/detalleFoliosGeneral.jasper
			</param-value>
    </init-param>
    <init-param>
      <param-name>camposVaciosReporte</param-name>
      <param-value>-SIN DATO-
			</param-value>
    </init-param>
    <init-param>
      <param-name>strProyecto</param-name>
      <param-value>VW
			</param-value>
    </init-param>
    <init-param>
      <param-name>strUrlSistema</param-name>
      <param-value>armadoras
			</param-value>
    </init-param>
    <init-param>
      <param-name>strRangoFechas</param-name>
      <param-value>365</param-value>
    </init-param>
    <init-param>
      <param-name>dirLogs</param-name>
      <param-value>C:/temp</param-value>
    </init-param>
    <init-param>
      <param-name>esquemaProd</param-name>
    <param-value>repuve</param-value> 
    </init-param>
    <init-param>
      <param-name>esquemaRespaldo</param-name>
      <param-value>repuve_arc</param-value> 
    </init-param>
    <init-param>
      <param-name>diasRespaldar</param-name>
      <param-value>180</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>